

.pokemoncontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #bbdefb; /* Slightly lighter blue background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemonname {
  font-size: 2.5em;
  color: #0d47a1; /* Dark blue color */
  margin: 0 0 20px;
  border: 5px solid #64b5f6; /* Light blue border */
  border-radius: 8px;
  padding: 10px;
}

.pokemonimage {
  width: 100%; /* Full width */
  max-width: 400px; /* Maximum width */
  border: 5px solid #64b5f6; /* Light blue border */
  border-radius: 8px;
  margin-bottom: 20px;
}

.pokemondetail {
  font-size: 1.2em;
  color: #0d47a1; /* Dark blue color */
  margin: 10px 0;
}

.pokemonsectiontitle {
  font-size: 1.5em;
  color: #0d47a1; /* Dark blue color */
  margin: 20px 0 10px;
  padding: 10px;
  border: 5px solid #64b5f6; /* Light blue border */
  border-radius: 8px;
}

.pokemonlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemonlistitem {
  font-size: 1.1em;
  color: #0d47a1; /* Dark blue color */
  padding: 5px 0;
}

.pokemondetailscontainer {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between columns */
}

.pokemonleft, .pokemonright {
  flex: 1;
}

.pokemonleft {
  text-align: left; /* Align text to the left */
}

.pokemonright {
  text-align: right; /* Align text to the right */
}

.pokemonsection {
  background-color: #e1f5fe; /* Very light blue */
  border: 2px solid #0d47a1; /* Dark blue border */
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
